
body{
    margin:0;
    background: linear-gradient(270deg, #e52e71, #ff8a00);
    background-size: 400% 400%;

    -webkit-animation: Animation1 30s ease infinite;
    -moz-animation: Animation2 30s ease infinite;
    animation: Animation3 30s ease infinite;
}
.fixed-header{
    width: 100%;
    position: fixed;
    background:linear-gradient(270deg, #e52e71, #ff8a00);
    background-color: rgba(0, 0, 0, 0.404);
    background-blend-mode: multiply;
    background-size: 400% 400%;

    -webkit-animation: Animation1 30s ease infinite;
    -moz-animation: Animation2 30s ease infinite;
    animation: Animation3 30s ease infinite;        
    
    top: 0;
    text-align: center;
}

img{
display: block;
margin-left: auto;
margin-right: auto;

}
.main p{
    padding-left: 10px;

}

.container{
    width: 100%;
    margin: 0 auto;
}

nav a{
    color: #ffffff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
    height: 40px;
    font-size: 20px;
}
nav a:hover{
    background: #000000a1;
    
    color: #ffffff;
}
section {
    background-color: #252525;
    color: #fff;
    padding: 0;
}

main h1{
    color:#17141d;


}

section a {
    color: rgb(226, 187, 14);;

}
section.section1{
    text-align: left;
    height: 1000px;
    width:100%;
    
}

section.section2{
    
    text-align: left;
    height: 1000px;
    width:100%;
}

section.section3{
    
    text-align: left;
    height: 1400px;
    width:100%;
}

section.section4{
    
    text-align: left;
    height: 1000px;
    width:100%;
}

section.section5{
    
    text-align: left;
    height: 1000px;
    width:100%;
}

html{
    scroll-behavior: smooth;
}

h1{
    font-size: 60px;
    text-align: center;
}

p{
    margin-left: 10px;

    font-size: 20px;
    font-family: 'Times New Roman', "Times serif"

}




  
@-webkit-keyframes Animation1 {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes Animation2 {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes Animation3 {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
  